.info-card {
    margin-top: 20px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
    gap: 20px;
}

.title {
    font-weight: bold;
    color: #777;
    font-size: 14px;
    margin-bottom: 4px;
}